.button {
    background-color: $blue-grey;
    font-family: $font;
    font-size: 18px;
    color: $grey;
    padding: 10px;
    border-radius: 50px;
    transition: 0.2s;
    cursor: default;
}
.add {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 25%;
}
.complete {
    background-color: $primary;
    color: $white;
    transition: 0.2s;
    cursor: pointer;
}
.complete:hover {
    background-color: $primary--light;
    transition: 0.1s;
}
.button-plus{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    button {
        width: 43px;
        border-radius: 100%;
    }
    p {
        margin-left: 20px;
        font-family: $font;
        color: $primary;
        font-size: 16px;
    }
}