.main-menu {
    width: 23%;
    background: white;
    border-right: 1px solid $grey--border;
    height: 100vh;

    ul {
        list-style: none;
    }

    &__item.soon {
        opacity: 0.4;
    }


    &__item a {
        height: 88px;
        display: flex;
        align-items: center;
        padding: 17px;
        .icon {
            width: 15%;
            margin-right: 7px;
            color: $grey--light;
        }
        .infos {
            width: 85%;
            h2 {
                font-family: $font--bold;
                color: $grey;
                font-weight: 700;
                margin-bottom: 4px;
                font-size: 14px;
            }
            span {
                font-family: $font;
                color: $grey--ultraLight;
                font-size: 12px;
            }
        } 
    }

    &__item.active, 
    &__item a:hover,
    &__item a:focus {
        background: $purple--ultraLight;
        .icon {
            color: $purple;
        }

        .infos {
            h2 {
                color: $purple;
            }
            span {
                color: $purple--light;
            }
        }

    }
}

.main-menu__item a {}

 .infos span.soon-tag {
        color: white;
        background: $grey--light;
        font-size: 10px;
        border-radius: 2px;
        padding: 2px 4px;
        margin-left: 8px;
        &:hover {
            background: $grey--light;
            color: white;
        }
    }