header {
    display: flex;
    justify-content: flex-start;
    .title {
        background-color: #9925ff;
        width: 20%;
        padding: 20px;
        .icon-logo {
            color: #ffffff;
            cursor: pointer;
            font-size: 20px;
        }
    }
    .search {
        background-color: #9925ff;
        opacity: 0.7;
        width: 80%;
        padding: 20px 20px 20px 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .icon-icon_search {
            color: #fff;
            margin-right: 10px;
            cursor: pointer;
        }
        input {
            width: 90%;
            background-color: #9925ff;
            border: none;
            font-size: 14px;
            color: #ffffff;
            font-family: $font;
        }
        input::placeholder {
            color: #fff;
        }
        input:focus {
            outline: none;
        }
    }
}