/* FONTS */

$font: 'RobotoRegular', Arial, sans-serif;
$font--medium: 'RobotoMedium', Arial, sans-serif;
$font--bold: 'RobotoBold', Arial, sans-serif;

/* COLORS */

$purple: rgba(153, 37, 255, 1);
$purple--light: rgba(153, 37, 255, 0.7);
$purple--ultraLight: rgba(153, 37, 255, 0.1);

$white: #ffffff;
$grey: #868B9B;
$grey--deep: #5A5A5A;
$grey--light: #C8CAD2;
$grey--ultraLight: #A7AAB6;
$grey--deep--transparent: rgba(90, 90, 90, 0.7);

$blue-grey: #b5b5c9;